name: Portfolio CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username:karan8722
        password:Karan@143

    - name: Build Docker Image
      run: docker build -t karan8722/portfolio-site:latest .

    - name: Push Docker Image
      run: docker push karan8722/portfolio-site:latest

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
        images: karan8722/portfolio-site:latest